<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InteractiveBrain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <InteractiveBrain.Properties.Settings>
      <setting name="defaultFunctionsFrontalLobe" serializeAs="String">
        <value>planning, reasoning, speech, voluntary movement (motor cortex is in the frontal lobe), problem solving, regulating emotions (the frontal lobe doesn’t initiate the emotion, but it helps us control our emotions)"</value>
      </setting>
      <setting name="defaultHealthyBehaviorsFrontalLobe" serializeAs="String">
        <value>Reading, Problem-Solving games, choreography (like for ballet, Zumba), meditation
, creative writing, speaking a foreign language (actual motor movements of the mouth)</value>
      </setting>
      <setting name="defaultUnhealthyBehaviorsFrontalLobe" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsTemporalLobe" serializeAs="String">
        <value>Hearing, processing short term memory (hippocampus located in this lobe)</value>
      </setting>
      <setting name="defaultHealthyBehaviorsTemporalLobe" serializeAs="String">
        <value>Any memory games (matching, Simon, etc), Distinguishing different instruments by their sounds,
Distinguishing different animals by their sounds, Recognizing patterns in music (auditory)
</value>
      </setting>
      <setting name="defaultUnhealthyBehaviorsTemporalLobe" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsParietalLobe" serializeAs="String">
        <value>sensory processing such as temperature, pressure, touch, &amp; pain</value>
      </setting>
      <setting name="defaultHealthyBehaviorsParietalLobe" serializeAs="String">
        <value>Language comprehension (ie. learning definitions of words, engaging in face to fact conversation),
Body positioning &amp; awareness (ie. yoga, aiming a pitch), Sensory perception (ie. reading braille, 
distinguishing coins by how the edges feel to the skin)
</value>
      </setting>
      <setting name="defaultUnhealthyBehaviorsParietalLobe" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsOccipitalLobe" serializeAs="String">
        <value>Visual Processing</value>
      </setting>
      <setting name="defaultHealthyBehaviorsOccipitalLobe" serializeAs="String">
        <value>Visual recognition (ie. identifying faces in a yearbook, 
distinguishing different features in pictures, jigsaw puzzles, recognizing visual patterns)
</value>
      </setting>
      <setting name="defaultUnhealthyBehaviorsOccipitalLobe" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsCerebellum" serializeAs="String">
        <value>Balance &amp; coordination</value>
      </setting>
      <setting name="defaultHealthyBehaviorsCerebellum" serializeAs="String">
        <value>Any type of physical exercise, activities that help improve improve balance and coordination
Pairing physical exercise with a mental exercise (ie. dancing and singing simultaneously; 
standing on a balance board while reciting the alphabet)</value>
      </setting>
      <setting name="defaultUnhealthyBehaviorsCerebellum" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsHippocampus" serializeAs="String">
        <value>processes short-term memory to convert into long term memory, in limbic system (note long term memories are stored all over the brain)</value>
      </setting>
      <setting name="defaultHealthyBehaviorsHippocampus" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultUnhealthyBehaviorsHippocampus" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsAmygdala" serializeAs="String">
        <value>responsible for emotions, particularly survival instincts (fear &amp; aggression), hypersensitive to stress, role in storing emotional memories, in Limbic System</value>
      </setting>
      <setting name="defaultHealthyBehaviorsAmygdala" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultUnhealthyBehaviorsAmygdala" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsPituitaryGland" serializeAs="String">
        <value>regulates growth hormone, triggers onset of puberty. Attached to the hypothalamus, in Limbic System</value>
      </setting>
      <setting name="defaultHealthyBehaviorsPituitaryGland" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultUnhealthyBehaviorsPituitaryGland" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultFunctionsBrainstem" serializeAs="String">
        <value>controls flow of messages between the brain and the rest of the body. Also controls basic body function like breathing, swallowing, heartbeat (medulla), sleep regulation (pons), etc.</value>
      </setting>
      <setting name="defaultHealthyBehaviorsBrainstem" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultUnhealthyBehaviorsBrainstem" serializeAs="String">
        <value />
      </setting>
    </InteractiveBrain.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VGSContext" connectionString="data source=***;binary guid=False" providerName="System.Data.SQLite" />
    <!--  <add name="interactiveBrainEntities" connectionString="metadata=res://*/InteractiveBrainModel.csdl|res://*/InteractiveBrainModel.ssdl|res://*/InteractiveBrainModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\Shailicia\source\repos\InteractiveBrain\interactiveBrainDatabase.db&quot;" providerName="System.Data.EntityClient" />-->
    <add name="interactiveBrainEntities" connectionString="metadata=res://*/InteractiveBrainModel.csdl|res://*/InteractiveBrainModel.ssdl|res://*/InteractiveBrainModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=|DataDirectory|\Database\interactiveBrainDatabase.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>